/* Settings Styles */

.settings-hd {
    text-align: center;
    margin: 1rem;
}

.form-label {
    margin-top: .5rem;
}

.tab-pane {
    margin-top: 1rem;
}

.update-btn {
    height: 60px;
    min-width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem; 
}

/* Media Queries */

    @media only screen and (min-width: 400px) {
        
        .container-sm {
            max-width: 400px;
        }        
    }

    @media only screen and (min-width: 768px) {
        
         #settings-container {
             flex-direction: row;
         }     
    }


/* Need to create a container to create a column for flexbox */






