/* Global Styles */

body {
    padding-bottom: 320px;
}

/* Sign Up Styles */

h1 {
    font-size: 1.375rem;
}

.sign-up-hd {
    text-align: center;
    margin: 1rem;
}

input, label {
    margin: .25rem 0rem;
}

.sign-up-form {
    min-width: 100%;
    margin-bottom: 1rem;
    
}

.sign-up-border {
    max-width: 320px;
    background-color: #f9f9f9;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border: 1px solid #ced4da;
    border-radius: 10px;
}

.sign-up-btn {
    height: 50px;
    min-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.member-tx {
    text-align: center;
    font-size: .75rem;
}

.terms-of-service {
    text-align: center;
    font-size: .75rem;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
        
        h1 {
            font-size: 2rem;
        }

    }
