/* Banner Styles */

.banner {
    padding-top: 92px;
    margin-bottom: 2rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2rem;
}

.welcome-hd {
    text-align: center;
    margin: 1rem;
}

/* Button Styles */

.sign-up-in-btn-div {
    text-align: center;
}

.sign-up-in-btn {
    height: 50px;
    width: 140px;
    margin: .25rem;
}

.btn-primary.active, .btn-primary:active {
    transition: background-color .15s ease-out!important;
}

.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    transition: background-color .15s ease-out!important;
}

/* Media Queries */

    @media only screen and (min-width: 768px) {
       
    }
