/* Banner Styles */

.banner {
    padding-top: 92px;
    margin-bottom: 2rem;
}

.sign-up-in-btn {
    height: 60px;
    width: 160px;
}

.btn-primary.active, .btn-primary:active {
    transition: background-color .15s ease-out!important;
}

.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    transition: background-color .15s ease-out!important;
}
